<div>
  <ngx-imageviewer src="../../../../../../assets/images/WH_TS_front_s700.jpg"></ngx-imageviewer>
  <h4 align="center">
    Описание
  </h4>
  <ul>
    <li>
      Программируемый <b>Сенсорный 24/7</b> терморегулятор для систем "Теплый пол".
    </li>
    <li>
      Программирование по дням недели : Рабочий/Выходной день -  5/2 или 6/1 или 7/0.
    </li>
    <li>
      Программирование <b>6-ти</b> временных событий в сутки.
    </li>
    <li>
      Два датчика температуры - встроенный и внешний длинной 3м.
    </li>
    <li>
      Предназначен для основного или комфортного управления обогревом.
    </li>
    <li>
      Режим работы по встроенному датчику - для основного обогрева.
    </li>
    <li>
      Режим работы по внешнему датчику - для комфортного обогрева.
    </li>
    <li>
      Режим работы по двум датчикам - для основного обогрева. Датчик воздуха (встроенный) - основной. Датчик пола (внешний) - ограничитель.
    </li>
    <li>
      Функция экономии энергопотребления.
    </li>
    <li>
      Индикация нагрева, отражение текущей и заданной температуры, дня недели и текущего времени.
    </li>
    <li>
      Сенсорный активный LED экран.
    </li>
    <li>
      Подсветка экрана LED белого цвета.
    </li>
    <li>
      Автоматическая блокировка клавиатуры.
    </li>
    <li>
      Энергонезависимые часы.
    </li>
    <li>
      Функция Антизамерзания.
    </li>
    <li>
      Пределы регулирования... <b>+5...+50C<sup><small>o</small></sup></b>
    </li>
    <li>
      Самодиагностика прибора.
    </li>
    <li>
      Ограничение максимальной и минимальной температуры.
    </li>
    <li>
      Возможность изменения значения гистерезиса.
    </li>
    <li>
      Нагрузка до 16А.
    </li>
    <li>
      Все приборы WÄRMEHAUS PREMIUM обеспеченны полноценной трехлетней гарантией, инструкцией на русском языке и сервисной поддержкой.
    </li>
    <li>
      Гарантия - 3 года.
    </li>
  </ul>
  <hr>
  </div>