img {
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: inline-flex;
    align-items: center;
    margin-left: 17%;
}
p{
    text-align-last: center;
    font-weight: bold;
    margin-top: 10px
}
.divider{
    margin-top: 15px
}