.navbar{
    background-color: rgb(255, 255, 0);
    width: 100%
}

.navbar-item{
    margin-right: 5px;
    margin-left: 5px;
}
button{
    margin-left: 20px
}
button:focus {
    outline: none;
    border: 0;
 }