.navbar{
    background-color: rgb(255, 255, 0);
    height: 100px;
}

.navbar-item{
    margin-right: 5px;
    margin-left: 5px;
}
.menu{
    width: 100%
}
button{
    margin-left: 20px
}
.burger{
    align-self: right;
}