<!--<app-carousel></app-carousel>-->
<mat-card class="card">
<mat-grid-list class="grid" cols="4" gutterSize="10" rowHeight="">
        <mat-grid-tile
            *ngFor="let tile of tiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows">
            <a href="#" routerLink={{tile.route}} routerLinkActive="active" >
          <img src= {{tile.picUrl}} alt= {{tile.alt}} height="600" width="1910"></a>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
    <app-main-page></app-main-page>