<mat-accordion>



  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>Мат двужильный WARMEHAUS 200W</strong>
      </mat-panel-title>
      <mat-panel-description>
        <strong>{{panelOpenState ? 'Закрыть' : 'Раскрыть'}} описание</strong>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="pic">
      <span><img src="http://warmehaus-minsk.by/images/stories/virtuemart/product/%D1%82%D0%B5%D0%BF%D0%BB%D1%8B%D0%B9-%D0%BF%D0%BE%D0%BB-warmehaus-mat-200w-4-s800-4.jpg"
          width="380" height="680" alt="Иллюстрация" align="left" vspace="5" hspace="5">

        <strong>Готовая к применению нагревательная система ТЕПЛЫЙ ПОЛ повышенной мощности под керамическую плитку,
          ламинат, линолеум.</strong>
        <br>
        <br>
        <p>WÄRMEHAUS® MAT 200W/m2 - тонкий двужильный нагревательный мат на сетке, с шагом кабеля 7см и
          диаметром 3мм.</p>
        <p>Армированный, экранированный, двужильный нагревательный кабель на сетке с двойной изоляцией, с холодным
          проводом длиной 3,5м, с герметичными армированной переходной и концевой муфтами.

          Укладывается в слой клея или тонкий слой самовыравнивающегося раствора непосредственно под финишное покрытие
          пола.</p>

        <p>В основе работы резистивного нагревательного кабеля лежит свойство проводника с повышенным сопротивлением
          выделять тепло. Количество выделяемого тепла зависит от сопротивления. В конструкции кабеля применена
          прогрессивная технология с двумя нагревательными жилами, т.е. без возвратного токопроводящего проводника. Что
          способствует равномерному прогреву кабеля, позволяет уменьшить диаметр кабеля на мате до 3мм и увеличить срок
          службы системы. Нагревательным элементом служат сами токопроводящие жилы, изготовленные из металлического
          сплава и покрытые стойкой к высоким температурам изоляцией.</p>

        <p>Важнейшим фактором, влияющим на качество и долговечность нагревательных систем являются характеристики
          нагревательных элементов. Производителем нагревательных элементов для WÄRMEHAUS® MAT является VOKA
          Vogtländisches Kabelwerk GmbH Германия - предприятие концерна WILMS GRUPPE.</p>

        <p>Нагревательные маты WÄRMEHAUS® MAT 200W/m2 являются полностью готовыми к использованию нагревательными
          системами. Разработаны инженерами WÄRMEHAUS GmbH и производятся в соответствии с европейскими нормами EN
          60335-1, EN 60335-2, IEC 60800, а также в соответствии со стандартом по системам менеджмента качества ISO
          9001
          и стандартом по системам экологического менеджмента ISO 14001 на предприятиях концерна WILMS GRUPPE в
          Германии
          и Чехии. Секции WÄRMEHAUS® MAT 200W/m2 состоят из двужильного нагревательного кабеля закрепленного на
          стекловолоконной сетке с уникальной армированной проходной и оконечной муфтами, оканчивающегося " холодным"
          концом длинной 3,5м.</p>

        <p>Линейка нагревательных матов WÄRMEHAUS® MAT 200W/m2 представлена в 15 типоразмерах, имеет ширину 50см и
          различную длину в зависимости от необходимой площади обогрева. Кабель предназначен для установки без
          формирования толстой цементной стяжки под любое напольное покрытие с удельным тепловым сопротивлением не
          более
          0,10W/m2. Один соединительный "холодный" провод упрощает и ускоряет монтаж.</p>

        <p>Изготавливается как нагревательный мат с двужильным экранированным нагревательным кабелем толщиной 3 мм.
          Кабель
          имеет внутреннюю изоляцию из фторополимера (тефлона) и наружную изоляцию из синтетического полиолефина LSZH.
          Кабель закреплен на сетке из стекловолокна и имеет один холодный соединительный провод длиной 3.5 м.
          Герметичные армированные переходная и концевая муфты.</p>

        <p>В комплект поставки входит нагревательный мат, упаковка, инструкция по установке и эксплуатации -
          включительно
          на русском языке, гарантийный талон, гофротрубка ø18мм длинной 2м для установки термодатчика , специальная
          заглушка для гофротрубки, монтажная коробка.

          WÄRMEHAUS® MAT 200W/m2 - тонкий двужильный нагревательный мат непосредственно под финишное покрытие пола,
          например керамическую плитку.

          Преимуществом данной системы является простота монтажа. Идеально для обогрева стандартных квадратных и
          прямоугольных площадей. С помощью WÄRMEHAUS® MAT 200W/m2 возможно решать практически любые задачи по
          комфортному/дополнительному/основному обогреву любых помещений.</p>
      </span>
    </div>
  </mat-expansion-panel>



  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>Кабель двужильный WARMEHAUS CAB 11W THIN</strong>
      </mat-panel-title>
      <mat-panel-description>
        <strong>{{panelOpenState ? 'Закрыть' : 'Раскрыть'}} описание</strong>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="pic">
      <span><img src="http://warmehaus-minsk.by/images/stories/virtuemart/product/warmehaus-cab-11w-2-s-400-1(1).jpg"
          width="380" height="680" alt="Иллюстрация" align="left" vspace="5" hspace="5">

        <strong>Армированный экранированный двужильный нагревательный резистивный кабель диаметром 3,0мм, линейной
          мощностью 11Вт/м.</strong>
        <br>
        <br>
        <p>Секция изготовлена на основе резистивного нагревательного кабеля.

          Армированный, экранированный, двужильный нагревательный кабель с двойной изоляцией, с холодным проводом
          длиной 3,5м, с герметичными армированной переходной и концевой муфтами.</p>

        <p>В основе работы резистивного нагревательного кабеля лежит свойство проводника с повышенным сопротивлением
          выделять тепло. Количество выделяемого тепла зависит от сопротивления. В конструкции кабеля применена
          прогрессивная технология с двумя нагревательными жилами, т.е. без возвратного токопроводящего проводника. Что
          способствует равномерному прогреву кабеля, позволяет уменьшить диаметр кабеля до 3мм и увеличить срок службы
          системы. Нагревательным элементом служат сами токопроводящие жилы, изготовленные из металлического сплава и
          покрытые стойкой к высоким температурам изоляцией.</p>

        <p>Важнейшим фактором, влияющим на качество и долговечность нагревательных систем являются характеристики
          нагревательных элементов. Производителем нагревательных элементов для WÄRMEHAUS® CAB является VOKA
          Vogtländisches Kabelwerk GmbH Германия - предприятие концерна WILMS GRUPPE.</p>

        <p>Нагревательные кабели WÄRMEHAUS® CAB 11W Thin являются полностью готовыми к использованию нагревательными
          системами. Разработаны инженерами WÄRMEHAUS GmbH и производятся в соответствии с европейскими нормами EN
          60335-1, EN 60335-2, IEC 60800, а также в соответствии со стандартом по системам менеджмента качества ISO
          9001 и стандартом по системам экологического менеджмента ISO 14001 на предприятиях концерна WILMS GRUPPE в
          Германии и Чехии. Секции WÄRMEHAUS® CAB 11W Thin состоят из двужильного нагревательного кабеля с уникальной
          армированной проходной и оконечной муфтами, оканчивающегося " холодным" концом длинной 3,5м.</p>

        <p>Линейка нагревательных кабелей WÄRMEHAUS® CAB 11W Thin представлена в 15 типоразмерах и имеет различную
          длину в зависимости от необходимой мощности. Кабель предназначен для установки без формирования толстой
          цементной стяжки под любое напольное покрытие с удельным тепловым сопротивлением не более 0,15W/m2. Один
          соединительный "холодный" провод упрощает и ускоряет монтаж.</p>

        <p>WÄRMEHAUS® CAB 11W Thin является средним решением между матом и резистивным кабелем 20W/m. Он тоньше
          обычного резистивного кабеля и имеет меньшую линейную мощность 11W/m, но в отличии от мата, кабель не
          закреплён на сетке. Это позволяет выбирать любой шаг укладки в интервале 5...10см, тем самым получать
          удельную мощность от 220W/m2 до 110W/m2 и при этом производить монтаж без стяжки. Основной сложностью
          является то, что размещать тонкий кабель без сетки сложнее. Однако, в отличии от мата, кабелем намного проще
          обогревать контуры нестандартной формы, например площади треугольной, округлой или трапециевидной формы.</p>

        <p>WÄRMEHAUS® CAB 11W Thin - тонкий двужильный нагревательный кабель непосредственно под финишное покрытие
          пола, например керамическую плитку.

          Преимуществом данной системы является универсальность. С помощью WÄRMEHAUS® CAB 11W Thin возможно решать
          практически любые задачи по обогреву жилых помещений.</p>
      </span>
    </div>
  </mat-expansion-panel>

</mat-accordion>