<mat-card class="card">
    <mat-grid-list class="grid" cols="4" gutterSize="10" rowHeight="">
        <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" matRipple>
            <a href="#" routerLink={{tile.route}} routerLinkActive="active">
                <img src={{tile.picUrl}} alt={{tile.alt}} height="600" width="1910"></a>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>
<mat-card>

    <router-outlet></router-outlet>
    <div class="text">
        <h1>ТЕПЛЫЙ ПОЛ ПОД ПЛИТКУ И ЛАМИНАТ ПО ДОСТУПНОЙ ЦЕНЕ</h1>

        <div class="content clearfix">
            <p class="p1"><span class="s1">&nbsp;Если вы не знаете, где приобрести <strong>теплый пол в Минске</strong>,
                    то наш
                    магазин поможет вам в этом. Уже более шести лет мы занимается продажей электрических теплых полов
                    для любых
                    помещений.</span></p>
            <p class="p1"><span class="s1">&nbsp;<span style="color: #ff0000;"><a href="/produktsiya.html"><span style="color: #ff0000;">Ассортиментный
                                ряд</span></a></span> товаров постоянно меняется и пополняется. Мы стараемся учесть все
                    пожелания и
                    предпочтения покупателей, предоставив им высококачественную продукцию, которая ответит всем
                    требованиям.
                    Тщательный отбор товаров - это еще одна возможность приятно удивить клиентов. Высокие стандарты
                    качества и
                    оптимальные цены на наш пол позволяют каждому покупателю приобрести наш пол в свой офис или дом.
                    Ежедневно
                    производители радуют новинками, которые незамедлительно появляются на нашем сайте.</span></p>
            <p class="p1"><span class="s1">&nbsp;Укладка электрического пола возможна под несколько видов напольных
                    покрытий,
                    таких как плитка или керамогранит. В обоих случаях поверхность напольного покрытия будет радовать
                    теплом даже в
                    самое холодное время года. Его поверхность быстро прогревается благодаря использованию специальных
                    нагревательных
                    матов. Монтировка нагревательного термомата отличается простотой и не займет много времени:
                    раскатав термомат
                    по
                    поверхности пола и подключив его к разъемам в терморегуляторе, вы полностью закончите монтировку
                    теплого пола
                    под
                    плитку или керамогранит.</span></p>
            <p class="p1"><span class="s1">&nbsp;<em>Теплый пол под ламинат</em>&nbsp;нередко устанавливается под
                    паркетную
                    доску. Подобному сочетанию отдают свое предпочтение всё больше и больше людей, которые привыкли к
                    максимальному
                    комфорту. В первом случае для обеспечения дополнительного отопления применяет нагревательная
                    пленка, а во
                    втором
                    нередко применяется основа из дерева. По завершению монтажа, теплый пол готов к эксплуатации .</span></p>
            <mat-divider></mat-divider>

            <h1 class="p1" style="text-align: center;"><span class="s1">Теплый пол в Минске по доступной цене.</span></h1>
            <p class="p1"><span class="s1">&nbsp;Такая установка прослужит долгие годы, если монтаж был осуществлен
                    профессионально, в соответствии со всеми правилами и предписаниями. <em>Теплый пол</em> – это еще
                    один
                    замечательный способ обеспечить комфортные условия жизни, создать бесценную атмосферу домашнего
                    уюта и
                    чувствовать ее даже в самые морозные дни. У нас в контактах вы найдете<span style="color: #ff0000;">
                        <a href="/kontakty.html"><span style="color: #ff0000;">телефоны</span></a></span> по которым
                    можно связаться и проконсультироваться что
                    бы
                    можно было приобрести&nbsp;<strong>теплый пол под ламинат</strong>.&nbsp;<em>Теплый пол
                        электрический отзывы</em>
                    о нем вы может прочитать в нашем каталоге.</span></p>
            <script type="text/javascript">(function (w, doc) { if (!w.__utlWdgt) { w.__utlWdgt = true; var d = doc, s = d.createElement('script'), g = 'getElementsByTagName'; s.type = 'text/javascript'; s.charset = 'UTF-8'; s.async = true; s.src = ('https:' == w.location.protocol ? 'https' : 'http') + '://w.uptolike.com/widgets/v1/uptolike.js'; var h = d[g]('body')[0]; h.appendChild(s); } })(window, document);</script>
        </div>
    </div>
</mat-card>