
.breadcrumb, a{
    background: none;
    font-weight: bold;
    text-align: start;
    font-size: 12px;
    align-items: inline-start;
    margin-block-start: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}
.item, a {
    margin-top: -1px;
    color: white;
    pointer-events: none;
    margin-left: -14px;
    margin-right: -5px
}
a:hover {
    color: white;
    text-decoration: none;
}
a:link{
    color: white
}
span{
    color: white
}