<mat-nav-list>

  <a mat-list-item (click)="openLink($event)">
    <img src="../../../assets/images/velcom_logo.png" alt="Velcom" height="42" width="42">
    <span mat-line>
      <a href="tel:+375293523204">+375 (29) 352-32-04</a>
    </span>
  </a>

  <a mat-list-item (click)="openLink($event)">
      <img src="../../../assets/images/iOS-logo-300x300.png" alt="Velcom" height="42" width="42">
    <span mat-line>
        <a href="tel:+375295575980">+375 (29) 557-59-80</a>
    </span>
  </a>
</mat-nav-list>