/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/css/bulma.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/material-icons/css/material-icons.min.css";


.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.dark-backdrop {
    background: #000;
    opacity: 0.85 !important;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #fc0000;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
  }
  
  
  html, body {
      min-height: 100% !important;
      height: 100%;
      /*max-width: 1820px; /* Можно подправить */
      /*margin-left: auto;
      /*margin-right: auto*/
  }
  body {
      background: rgb(255, 255, 255);
      margin-block-start: 70px;
      
  }
  